
.custom-hero-block {
  display: flex;
  align-items: center;
  background: white;
  position: relative;
}

.custom-hero-text-content {
  flex: 1;
  padding: 40px;
  background-color: white;
  z-index: 1;
}

.custom-hero-image-container {
  flex: 1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(30%, -50%);
  z-index: 0;
}

.custom-hero-image-container picture {
  max-width: 100%;
  height: auto;
}

.custom-hero-block h1,
.custom-hero-block h2 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #000;
}

.custom-hero-block p {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.custom-hero-block .custom-apply-now-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffd700;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.custom-hero-block .custom-help-choose-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}
